:root{
  --primary: #d72323;
}

/* Commons css */
.bg-primary {
  background-color: var(--primary) !important;
}

.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.text-primary {
  color: var(--primary) !important;
}
.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);
}

/* header-area */
.header-top {
  position: absolute;
  width: 100%;
}
.ltx-drone img {
    top: 0;
    position: relative;
    animation-name: floating_item;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
@keyframes floating_item {
    0% {
      top: 0px;
    }
    50% {
      top: 20px;
    }
    100% {
      top: 0px;
    }
}

/* Review section */
.review-photo {
  width:80px;
}